.DS_Store
venv
.env
*/.env
.idea/*
.hg/*
*.pyc
*.orig
*venv/*
*/migrations/0*
venv/*
*__pycacgit bhe__/*
.vscode
.log
*/.log
*/.DS_Store
/media/
/node_modules/
/static/
*.log
.pytest_cache
.coverage
/logs/
env/*
*/node_modules
*/*/node_modules
*.rdb
__pycache__/
*/.idea
.idea
*.db